<!-- {% load static %}  -->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>covid-19</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166807102-1"></script>
  <!-- <script src="{% static '/js/filter.js' %}"></script>
  <link href="{% static '/css/style.css' %}" rel="stylesheet"> -->
  <script>
    function myFunction() {

      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("list");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
      if (document.getElementById("myInput").value == "")
        remove();
    }

    function show() {

      var tr, td, i;
      tr = document.getElementById("list").getElementsByTagName("tr");

      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];

        td.style.display = 'block';
      }

      myFunction();
    }

    function remove() {

      var tr, td, i;
      tr = document.getElementById("list").getElementsByTagName("tr");

      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];

        td.style.display = 'none';

      }


    }

    function select(arg) {
      document.getElementById("myInput").value = arg;
      remove();
    }
  </script>
  <style>
    tr {
      cursor: default;
    }
  </style>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-166807102-1');
  </script>
</head>

<body>
  <h3>Coronavirus Real Time Data</h3>
  <form action="info" method="POST">
    {%csrf_token%}
    <p>Enter the name of the country</p>
    <input type="text" name="cName" id="myInput" onkeyup="show()" placeholder="Type here..."> <button>submit</button>

    <table id="list">
      {% for n in dropdown %}
      <tr>
        <td onclick='select(this.textContent)' class="search" style="display:none">{{n}}</td>
      </tr>
      {% endfor %}

    </table>

  </form>

</body>

</html>