<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>covid-19</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166807102-1"></script>

  <script>
    function myFunction() {

      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("list");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
      if (document.getElementById("myInput").value == "")
        remove();
    }

    function show() {

      var tr, td, i;
      tr = document.getElementById("list").getElementsByTagName("tr");

      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];

        td.style.display = 'block';
      }

      myFunction();
    }

    function remove() {

      var tr, td, i;
      tr = document.getElementById("list").getElementsByTagName("tr");

      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];

        td.style.display = 'none';

      }


    }

    function select(arg) {
      document.getElementById("myInput").value = arg;
      remove();
    }
  </script>
  <style>
    tr {
      cursor: default;
    }
  </style>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-166807102-1');
  </script>
</head>

<body>
  <h3>Coronavirus Real Time Data</h3>
  <form action="info" method="POST">
    {%csrf_token%}
    <p>Enter the name of the country</p>
    <input type="text" name="cName" id="myInput" onkeyup="show()" placeholder="Type here..."> <button>submit</button>

    <table id="list">
      
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">United States Of America</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Russia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Brazil</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">United Kingdom</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Spain</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Italy</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">France</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Germany</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Turkey</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Iran</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">India</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Peru</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">China</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Canada</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Saudi Arabia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Belgium</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Mexico</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Chile</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Pakistan</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Netherlands</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Qatar</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Ecuador</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Belarus</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Sweden</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Switzerland</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Portugal</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Singapore</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Bangladesh</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">United Arab Emirates</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Ireland</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Poland</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Ukraine</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Indonesia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">South Africa</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Kuwait</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Romania</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Colombia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Israel</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Japan</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Austria</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Egypt</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Dominican Republic</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Philippines</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Denmark</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">South Korea</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Serbia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Panama</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Argentina</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Czechia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Norway</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Afghanistan</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Bahrain</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Algeria</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Morocco</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Australia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Malaysia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Kazakhstan</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Moldova</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Finland</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Nigeria</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Ghana</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Oman</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Armenia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Bolivia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Luxembourg</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Iraq</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Azerbaijan</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Hungary</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Cameroon</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Thailand</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Honduras</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Uzbekistan</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Guinea</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Greece</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Sudan</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Senegal</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Bosnia and Herzegovina</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Bulgaria</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Croatia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Cote d'Ivoire</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Tajikistan</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Guatemala</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Cuba</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">North Macedonia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Djibouti</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Iceland</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Estonia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Congo (Kinshasa)</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Lithuania</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Somalia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">El Salvador</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Gabon</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">New Zealand</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Slovakia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Slovenia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Kyrgyzstan</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Maldives</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Guinea-Bissau</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Tunisia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Kenya</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Sri Lanka</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Latvia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Kosovo</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Albania</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Lebanon</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Mali</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Cyprus</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Niger</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Costa Rica</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Equatorial Guinea</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Paraguay</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Zambia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Burkina Faso</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Andorra</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Venezuela</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Uruguay</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Georgia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Diamond Princess</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Jordan</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">San Marino</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Haiti</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Malta</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Sierra Leone</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Chad</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Jamaica</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Tanzania</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Taiwan*</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Nepal</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Congo (Brazzaville)</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">West Bank and Gaza</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Ethiopia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Madagascar</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Central African Republic</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Cabo Verde</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Togo</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Mauritius</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Montenegro</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Vietnam</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Rwanda</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">South Sudan</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Uganda</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Nicaragua</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Sao Tome and Principe</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Liberia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Eswatini</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Burma</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Yemen</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Mozambique</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Brunei</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Mongolia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Mauritania</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Benin</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Guyana</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Cambodia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Trinidad and Tobago</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Monaco</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Bahamas</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Barbados</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Liechtenstein</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Malawi</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Libya</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Syria</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Angola</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Zimbabwe</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Burundi</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Eritrea</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Comoros</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Antigua and Barbuda</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Botswana</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Gambia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Timor-Leste</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Grenada</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Bhutan</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Laos</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Belize</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Fiji</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Saint Lucia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Saint Vincent and the Grenadines</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Dominica</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Namibia</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Saint Kitts and Nevis</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Holy See</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Seychelles</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Suriname</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">MS Zaandam</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Papua New Guinea</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Western Sahara</td></tr>
      <tr><td onclick='select(this.textContent)' class="search" style="display:none">Lesotho</td></tr>
      
      

    </table>

  </form>

</body>

</html>